*.swp
.bundle
db/*.sqlite3
log/*.log
tmp/
vendor/cache
vendor/bundle
package/

config/database.yml
config/app_config.yml
config/deploy.rb
config/deploy/production.rb
config/nginx.conf
config/unicorn.rb
config/newrelic.yml

.env*
