* {
  margin: 0;
  padding: 0;
}

/* */
body {
  width: 80%;
  min-width: 960px;
  margin: 0 auto;
}

header {
  height: 200px;
  background-image: url("/images/logo.jpg");
  background-repeat: no-repeat;
  border-width: 0 0 1px 0;
  border-style: solid;
  margin: 0 0 10px 0;
}

nav {
  height: 40px;
  float: right;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  padding: 0 10px;
}

#main_content {
  width: 71%;
  float: left;
  margin: 0 0 10px 0;
  padding: 0 10px;
  border-width: 0 1px 0 0;
  border-style: solid;
}

article {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: silver;
  /*margin: 0 0 10px 0;*/
	padding: 10px 0 0 0;
}

article header {
	height: auto;
	background-image: none;
  border-width: 0;
}

.tags {
	margin-left: 40px;
}

.operation {
	float: right
}

.created_at, .tags, .operation {
	font-size: 0.8em;
}

/*#article_content {
	margin: 0 0 20px 0;
}*/

/* article form */
#article_summary {
	height: 100px;
}

#article_content {
	height: 400px;
}

/* article show comment */
#comments {
	width: 100%;
	margin: 20px 0;
	border-width: 0;
}

#comments h2 {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: silver;
}

.comment {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: silver;
	padding: 10px 0 10px 0;
}

.commenter_logo {
	float: left;
/*	margin: 0px 30px 10px 0;*/
}

.comment header {
	margin-left: 60px;
}

.commenter {
	font-weight: bold;
  margin-right: 10px;
}

.comment_content {
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	margin-left: 60px;
	padding: 5px;
}

.comment footer {
	font-size: 0.8em;
}

#comment_content {
	height: 60px;
}

.clear {
	clear: both;
}

article footer {
	border-width: 0;
}

/*article footer a {
  display: block;
  float: right;
  margin: 0 5px;
  padding: 0 5px;
}*/

aside {
  width: 25%;
  float: right;
}

#aside_tags h2 {
	margin: 0 0 10px 0;
}

.aside_tag {
	margin: 5px 0 0 0;
	padding: 2px;
}

.clear {
  clear: both;
}

/* footer */
footer {
  height: 20px;
  border-width: 1px 0 0 0;
  border-style: solid;
	padding: 10px;
	text-align: center;
}

#cc {
	text-decoration: none;
}

#cc_icon {
	margin: 0 0 -3px 0;
}
