<header class="red_header">
  <h2><%= t 'acknowledge_tech_list' %></h2>
</header>

<% if session[:user_id] %>
<div class="top_operation">
  <%= link_to 'New Acknowledge', new_acknowledge_path %>
</div>
<% end %>

<%= render @acknowledges %>
