.article {
  .tags {
    display: inline-block;
    float: left;
    height: 20px;

    span {
      float: left;
    }
    
    ul {
      display: inline-block;
      margin: 0;

      .tag{
        float: left; 

        .count {
          display: none;
        }
      }
    }
  }
}
