* {
  margin: 0;
  padding: 0;
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{ 
  display: block;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #D11D1A;
}

/* */
body {
  background-image: url("/assets/bg.png");
}

#main_wrapper {
  background-color: #FFFFFF;
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
}

img {
  border: none;
}

img:hover {
  border: none;
}

#global_header {
  width: 960px;
  height: 200px;
  border-width: 0 0 1px 0;
  border-style: solid;
  margin: 0 auto 10px auto;
}

#logo {
  position: relative;
  top: 20px;
}

#login {
  width: 100%;
  margin: 0 auto;
}

#login_info {
  text-align: right;
  vertical-align: middle;
  padding-right: 10px;
}

#login_form {
  width: 50%;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: silver;
  padding-left: 10px;
}

#login_form table {
  width: 100%;
}

#login_form table tr {
  height: 23px;
}

.field input {
  /*width: 75%;*/
}

nav {
  height: 18px;
  float: right;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  font-size: 18px;
  padding: 10px 10px;
}

#main_content {
  width: 71%;
  float: left;
  margin: 0 0 10px 0;
  padding: 0 10px;
  border-width: 0 1px 0 0;
  border-style: solid;
}

.article {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: silver;
  margin: 0 0 10px 0;
}

.article .tags .label {
  margin: 0 5px 0 0;
}

.red_header {
  position: relative;
  left: -10px;
  border-width: 0 0 0 7px;
  border-style: solid;
  border-color: #D11D1A;
  padding-left: 3px;
  margin: 0 0 10px 0;
}

.top_operation {
  margin: 0 0 10px 0;
}

.article_title {
  margin: 0 0 5px 0;
}

.article_summary {
  margin: 10px 0 0 0;
}

.article_content {
  margin: 10px 0;
}

.tags {
  margin-left: 40px;
}

.operation {
  float: right
}

/* article form */
#article_summary {
  height: 100px;
}

#article_content {
  height: 400px;
}

/* article show comment */
#comments {
  width: 100%;
  margin: 20px 0;
  border-width: 0;
}

.comment {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: silver;
  padding: 10px 0 10px 0;
}

.commenter_logo {
  float: left;
  /*	margin: 0px 30px 10px 0;*/
}

.comment header {
  margin-left: 60px;
}

.commenter {
  font-weight: bold;
  margin-right: 10px;
}

.comment_content {
  margin-left: 60px;
  padding: 5px 0;
}

.comment_content p {
  margin: 0;
}

.comment footer {
  font-size: 0.8em;
}

#comment_content {
  height: 60px;
}

.clear {
  clear: both;
}

article footer {
  border-width: 0;
}

.left-full-width {
  width: 670px;
}

aside {
  width: 25%;
  float: right;
}

#aside_tags h2 {
  margin: 0 0 10px 0;
}

#aside_tags li {
  margin: 5px 0;
}

.aside_tag {
  margin: 5px 0 0 0;
  padding: 2px;
}

.aside_tag .label {
  /*color: #333333;*/
}

.clear {
  clear: both;
}

/* footer */
footer {
  border-width: 1px 0 0 0;
  border-style: solid;
  padding: 10px;
  text-align: center;
  background-color: #E3E3E3;
}

#cc {
  text-decoration: none;
}

#cc_icon {
  margin: 0 0 -3px 0;
}

.code {
  color: black;
  font-family: Courier, Courier New;
  font-size: 13px;
  border-style: dashed;
  border-width: 1px;
  border-color: silver;
  background-color: #FFF9D4;
}

.reference {
  border: 1px dashed silver;
  padding: 5px;
  /*background-color: #FFF9D4;*/
  margin: 0 0 10px 0;
}

/* me */
.self_introduction {
  margin: 0 0 10px 0;
}


/* bootstrap rewrite */
.actions {
  background: none;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
  border: none;
}

input,
textarea,
select,
.uneditable-input {
  color: #333333;
}
